<div class="footer-copyright">
  <div class="footer-copyright-container">
    <div class="footer-copyright-groups">
      <div class="footer-copyright-icon-me icon icon-me"></div>
      <div class="footer-copyright-icon-logo icon icon-logo"></div>
      <h3>
        Группа компаний Energizes
      </h3>
    </div>
    <h4 class="footer-copyright-slogan">
      it`s a fantasy, it`s a progress
    </h4>
  </div>
  <div class="footer-copyright-text">
    © 2012-2018. Все права на любые материалы, опубликованные на сайте, защищены в соответствии с российским и международным законодательством об авторском праве и смежных правах.
  </div>
</div>
