.header-details {
  text-align: center;
  background-color: rgb(236, 213, 229);
  padding: 35px 0;
}

.header-details-button {
  border-radius: 0px;
  border: none;
  padding: 13px 65px;
  color: white;
  background-color: rgb(210, 166, 193);
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

.header-details-button:hover {
  background-color: #ce91e5;
}

.header-details-button:active {
  color: gray;
  border: gray solid 3px;
  padding: 10px 62px;
}

.footer-modal-content p {
  color: gray;
  font-size: 15px;
  margin: 10px 0;
}

.footer-modal-content div {
  padding: 10px 0;
  overflow: hidden;
}

.footer-modal-content span {
  float: left;
  margin-right: 15px;
  font-size: 30px;
  color: #f2e4e7;
  font-weight: 600;
  line-height: 25px;
}

