<div class="footer-copyright">
  <div class="info_footer">
    <div class="groups">
      <div class="logo_me"></div>
      <div class="logo_diamond"></div>
      <span>
        Группа компаний Energizes
      </span>
    </div>
    <div class="fantasy">
      it`s a fantasy, it`s a progress
    </div>
  </div>
  <span class="rules">
    © 2012-2018. Все права на любые материалы, опубликованные на сайте, защищены в соответствии с российским и международным законодательством об авторском праве и смежных правах.
  </span>
</div>