<div class="content">
  <div class="headline border">
    <span>Наши проекты</span>
  </div>
  <div class="section-nav-item-container">
    <span
      class="section-nav-item"
      *ngFor="let project of projects"
    >
      <a [routerLink]="['/project/' + project.PROJECT_ID]">
        <div [style.height.px]="project.HEIGHT_IMAGE || 300" class="section-nav-item-preview">
          <img src="http://laba-e.ru{{ project.PREVIEW_IMAGE }}" width="100%" alt="">
          <span class="section-nav-item-vendor">{{ project.VENDOR_CODE }}</span>
        </div>
        <div class="section-nav-item-section">{{ project.NAME_SECTION }}</div>
        <div class="section-nav-item-name">{{ project.NAME }}</div>
      </a>
    </span>
  </div>
</div>
<shared-paginator
  [perPage]="9"
  [currentPage]="1"
  [totalCount]="1000"
  (changePage)="onChangePage($events)"
></shared-paginator>
