<header class="header">
  <div class="header-left">
    <a href="/">
      <div class="header-logo-container">
        <div class="header-logo"></div>
        <h1>Лаборатория<br>Energizes</h1>
      </div>
    </a>
    <div class="header-phone-container">
      <div class="icon-phone"></div>
      <a href="tel:+74993933371">+7 (499) 393 33 71</a>
      <p>8.00 - 23.00, ежедневно</p>
    </div>
  </div>
  <div class="header-right">
    <span class="header-complex">Комплексное решение</span
    ><span class="header-business">Для вашего бизнеса</span>
  </div>      
</header>